{% extends "base.html" %}
{% load get_range %}
{% block title %} - News{% endblock %}

{% block style %}
.smaller {
  font-size: 11px;
  }
.news_block {
  margin-bottom: 10px;
  }
.comment-header h1 {
  font-size: 14px;
  }

.comment-header h1.staff {
  color: #0B610B;
}
{% endblock %}

{% block page_width %}span8 offset2{% endblock %}

{% block content %}
        <div class="page-header">
          <h1>News</h1>
        </div>

        {% include 'news/news.html' %}

        {% if news_item.comments_allowed %}
        <strong>Comments:</strong> 

        {# PAGINATION #}
        {% if comment_list.paginator.num_pages > 1 %}
        <div class="pages">
          {% if comment_list.has_previous %}
          <a href="?p={{ comment_list.previous_page_number }}">Previous</a>
          {% else %}
          Previous
          {% endif %}
          <ul>
            {% for page in comment_list.paginator.num_pages|get_range:1 %}
            {% if page = comment_list.number %}
              <li><strong>{{ page }}</strong></li>
        {% else %}
            <li><a href="?p={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
          </ul>
          {% if comment_list.has_next %}
          <a href="?p={{ comment_list.next_page_number }}">Next</a>
          {% else %}
          Next
          {% endif %}
        </div>
        {% endif %}
        {# PAGINATION_END #}

        {% for comment in comment_list %}
        <div class="comment">
          <div class="comment-header">
            
            <h1{% if comment.user.is_staff %} class="staff"{% endif %}>{{ comment.user.username }} <small class="smaller">{{ comment.date }}</small>
          </div>
          <p class="well">{{ comment.text }}</p>
        </div>

        {% endfor %}
        
        {% if user.is_authenticated %}
          <form action="" method="POST">
          {% csrf_token %}
          <div class="fieldWrapper">
            <label for="id_text">Text:</label>
            {% if form.text.errors %}
            <div class="alert alert-danger">{{ form.text.errors }}</div>
            {% endif %}

            {{ form.text }}
          </div>
          <input type="submit" value="Send" class="btn btn-primary"/>
        </form>
        {% else %}
          <div class="alert alert-warn">You have to be logged in to post a comment!</div>
        {% endif %}
        {% endif %}
{% endblock %}
