.shade-red {
  color: #ff4444;
}

.shade-green {
  color: #3dc033;
}

.background-red {
  /*background-color: #ffe7e7;*/
  background-color: #ffcccc;
}

.background-green {
  /*background-color: #ecffe7;*/
  background-color: #d7ffcc;
}

.background-yellow {
  background-color: #ffefcc;
}

.pages ul {
  list-style-type: none;
  display: inline;
  margin: 0;
}

.pages ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}

.page-header h1 img {
  margin-right: 10px;
  padding-bottom: 9px;
}

.flat-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flat-list li {
  display: inline;
  margin-right: 10px;
}

.backlink {
  margin-bottom: 20px;
}

.timepicker {
  width: 20px;
}

input.datepicker {
  width: 80px;
  cursor: pointer;
}

input.kda_field {
  width: 30px;
}

ul.imprint {
  list-style-type: none;
}

div.imprint {
  color: #aaaaaa;
  font-size: 9px;
  text-align: right;
}

div.imprint a {
  color: #aaaaaa;
  text-decoration: underline;
}

input.ignore {
  display: inline;
}
