.shade-red {
  color: #ff4444;
}

.shade-green {
  color: #3dc033;
}

.background-red {
  background-color: #ffe7e7;
}

.background-green {
  background-color: #ecffe7;
}

.pages ul {
  list-style-type: none;
  display: inline;
  margin: 0;
}

.pages ul li {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
}
