{% extends "base.html" %}
{% block title %} - About{% endblock %}

{% block page_width %}span8 offset2{% endblock %}

{% block content %}
        <div class="page-header">
          <h1><img src="{{ STATIC_URL }}img/icons/glyphicons_195_circle_info.png"/>About <small>Elolog</small></h1>
        </div>
        <p>Elolog is a place for you to keep track of your League of Legends game experiences. This helps you seeing your improvements faster and start working on whatever deficits you have.</p>
        <ul>
          <li>You can view your log entries in a graph, to see how your Elo changed since you started.</li>
          <li>Elolog does not try to lock your data up, if you decide to stop using it you can export everything you entered as CSV formatted files.</li>
          <li>Registration is free and painless</li>
          <li>Your logs are private, no one can see them.</li>
          <li>If you want to share your logs you can publish them under a safe URL. Doing this enables all visitors (even non-registered) to view your log when you share the URL. This can be useful if you give lessons and want to watch the progress of your disciples.</li>
          <li>You can create as many logs as you want (e.g. for different accounts)</li>
        </ul>
        <p>A screenshot for the undecided:</p>
        <div class="thumbnail">
          <a href="{{ STATIC_URL }}img/log_view_sample.png"><img src="{{ STATIC_URL }}img/log_view_sample.png" width="50%" height="50%"/></a>
        </div>
        
        <h2>Used Tools</h2>
        <p>This project was developed using <a href="http://www.python.org/">Python</a>, <a href="https://www.djangoproject.com/">Django</a>, <a href="http://www.mysql.com/">MySQL</a> and <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
        <p>The fancy icons were provided by <a href="http://glyphicons.com/">Glyphicons</a> for free.</p>
        <h2>Thanks to</h2>
        ... <a href="http://www.rakalakalili.com/">rakalakalili</a>, a very cool streamer that gave me this idea. If you are wondering why you are stuck in low Elo, record your games with LoLReplay, send your replay to rakalakalili and he will show you your mistakes on his stream!
        <h2 id="contact">Contact</h2>
        <p>If you have any questions, want to give feedback or treat me to a beer contact me on one of the following addresses:</p>
        <ul>
          <li>support (AT) elolog.net (email)</li>
          <li>Tyrant @EUW (League of Legends)</li>
          <li>d3m0n_ (reddit)</li>
          <li>#elolog Nick: Tyrant (QuakeNet IRC)</li>
        </ul> 

{% endblock %}
