<!DOCTYPE html>
<html lang="en">
<head>
  <title>Elolog{% block title %}{% endblock %}</title>
  <link href="{{ STATIC_URL }}css/bootstrap.min.css" media="screen" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet" />
  <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet" />
  <script src="{{ STATIC_URL }}js/jquery-min.js"></script>
  {% block header %}{% endblock %} 
  <style>   
    .container .content {
      background-color: #FFFFFF;
      border-radius: 0 0 6px 6px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      margin: 0 -20px;
      padding: 60px 20px 5px;
    }
    {% block style %}{% endblock %}
  </style> 
</head>

<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">EloLog</a>



        {% if user.is_authenticated %}
        <div class="btn-group pull-right">
          <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
            {{ user.username }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{% url log.views.user_settings %}"><i class="icon-cog"></i> Settings</a></li>
            {% if user.is_staff %}
            <li><a href="/admin"><i class="icon-wrench"></i> Admin</a></li>
            {% endif %}
            <li class="divider"></li>
            <li><a href="/logout"><i class="icon-off"></i> Logout</a></li>
          </ul>
        </div>
        {% else %}
        <a class="btn btn-success pull-right" href="{% url auth_login %}">
          Sign in
        </a>
        {% endif %}

        
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="{% url log.views.index %}">Home</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url my_logs %}">My logs</a></li>
            {% endif %}
            <li><a href="/public/">Public logs</a></li>
            <li><a href="{% url log.views.news %}">News</a></li>
            <li><a href="{% url about %}">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="{% block page_width %}span10 offset1{% endblock %}">
        <div class="content">
          <div class="page-header">
            {% block headline %}{% endblock %}
          </div>
          <div class="ad">
          <script type="text/javascript"><!--
            google_ad_client = "ca-pub-2248304763819491";
            /* Horizontal */
            google_ad_slot = "5873791829";
            google_ad_width = 468;
            google_ad_height = 60;
            //-->
            </script>
            <script type="text/javascript"
            src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>
          </div>
        {% block content %}{% endblock %}
        </div>
        <div class="imprint">&copy; EloLog, 2012 - <a href="{% url imprint %}">imprint</a> - <a href="{% url privacy %}">privacy</a></div>
      </div>
    </div>
  </div>

  <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-button.js"></script>

</body>

</html>
