{% extends "base.html" %}
{% block title %} - Edit/New log entry{% endblock %}

{% block content %}
        <div class="page-header">
          <h1>{{ log.summoner_name }}</h1>
        </div>
        <form action="" method="POST">
          {{ form.errors }}
          {% csrf_token %}

          <div class="fieldWrapper">
            {{ form.champion.errors }}
            <label for="id_champion">Champion:</label>
            {{ form.champion }}
          </div>

          <div class="fieldWrapper">
            {{ form.elo.errors }}
            <label for="id_elo">Elo after game:</label>
            {{ form.elo }}
          </div>

          <div class="fieldWrapper">
            {{ form.win.errors }}
            <label for="id_win">Win:</label>
            {{ form.win }}
          </div>

          <div class="fieldWrapper">
            {{ form.text.errors }}
            <label for="id_text">Remarks:</label>
            {{ form.text }}
          </div>

          <input type="submit" class="btn btn-primary" value="Save" />

        </form>
{% endblock %}
