{% extends "base.html" %}
{% block title %} - Edit/New log field{% endblock %}

{% block headline %}
  <h1>{{ log.summoner_name }} <small>Fields</small></h1>
{% endblock %}

{% block content %}
        <a class="btn" href="{% url log.views.view_fields log.id %}">
          <i class="icon-arrow-left"></i>
          Back
        </a>
        <hr/>

        {% if form.instance.pk %}
        <div class="alert alert-danger"><strong>Attention!</strong> 
          <p>If you change the type of a field, EloLog tries to convert the data you've entered to the new type. If a value can't be converted, it will be deleted! This could result in data loss and can't be undone.</p>
        </div>
          <p><strong>Safe conversions:</strong></p>
          <ul>
            <li>Everything to Text (or Short Text)</li>
            <li>Elo to Number</li>
            <li>Number to Elo (<strong>Only for positive numbers</strong>)</li>
            <li>Numbers in Text or Short Text to Number</li>
            <li>Numbers in Text or Short Text to Elo (<strong>Only for positive numbers</strong>)</li>
            <li>Text or Short Text if the textfield contains a valid URL (and nothing else)</li>
            <li>Text or Short Text to Date, if the textfield contains a value formatted like "dd.mm.yyyy hh:mm" (e.g. 05.10.2012 03:17)</li>
            <li>Text or Short Text to KDA, if the textfield contains a value formatted like "K/D/A", "K-D-A" or "K D A"</li>
            <li>Champion to Champion (Small) and vice versa</li>
          </ul>
          Everything else will likely result in data loss.
          </p>
        {% endif %}

        <form action="" method="POST">
          {{ form.errors }}
          {% csrf_token %}

          {% for field in form %}
          <div class="fieldWrapper">
              {{ field.errors }}
              {{ field.label_tag }}
              {{ field }}
            </div>
          {% endfor %}

          <input type="submit" class="btn btn-primary" value="Save" />

        </form>
{% endblock %}
