{% extends "base.html" %}
{% block title %} - Edit/New log entry{% endblock %}
{% block header %}{{ form.media }}{% endblock %}

{% block headline %}
<h1>{{ log.summoner_name }}</h1>
{% endblock %}

{% block content %}
        <a class="btn" href="{% url log.views.view log.id %}">
          <i class="icon-arrow-left"></i>
          Back
        </a>
        <hr/>

        <form action="" method="POST">
          {% csrf_token %}

          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th colspan="2" style="text-align: right"><a href="#" rel="tooltip" title="Checking this boxes will delete a value, leaving it blank when saving.">Ignore/Delete value</a></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% for field in form %}
              {% if field.name in form.custom_fields or field.name == "outcome" %}
              <tr>
                <th>{{ field.label_tag }}</th>
                <td>{{ field }} {{ field.required }}</td>
                <td>{% if field.name != "outcome" %}{{ field.field.ignore_field }}{% endif %}</td>
                <td>{{ field.errors|safe }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>

          <input type="submit" class="btn btn-primary" value="Save" />
            <script type="text/javascript">
            $("document").ready(function(){$("[rel=tooltip]").tooltip();})
            </script>
        </form>
{% endblock %}
