{% extends "base.html" %}
{% block title %} - Edit/New log{% endblock %}
{% block style %}
.number input {
  width: 30px;
}
{% endblock %}
{% block header %}{{ form.media }}{% endblock %}

{% block headline %}
<h1>{{ log.summoner_name }}</h1>
{% endblock %}

{% block content %}
        {% if log.id %}
        <a class="btn" href="{% url log.views.view log.id %}">
          <i class="icon-arrow-left"></i>
          Back
        </a>
        {% else %}
        <a class="btn" href="{% url my_logs %}">
          <i class="icon-arrow-left"></i>
          Back
        </a>
        {% endif %}
        <hr/>

        <form action="" method="POST">
          {{ form.errors }}
          {% csrf_token %}

          <div class="fieldWrapper">
            {{ form.summoner_name.errors }}
            <label for="id_summoner_name">Summoner Name:</label>
            {{ form.summoner_name }}
          </div>

          <div class="fieldWrapper">
            {{ form.description.errors }}
            <label for="id_description">Description:</label>
            {{ form.description }}
          </div>

          <div class="fieldWrapper">
            {{ form.region.errors }}
            <label for="id_summoner_name">Region:</label>
            {{ form.region }}
          </div>

          <div class="fieldWrapper number">
            {{ form.initial_elo.errors }}
            <label for="id_summoner_name">Inital Elo:</label>
            <div class="alert">
              <strong>Warning:</strong> This should be your Elo before you started using EloLog. A different value may lead to some minor calculation errors.<br/>
            {{ form.initial_elo }}
            </div>
          </div>

          <div class="fieldWrapper number">
            {{ form.initial_games_won.errors }}
            {{ form.initial_games_lost.errors }}
            {{ form.initial_games_left.errors }}
            <label for="id_summoner_name">Games Won/Lost/Left:</label>
            <div class="alert">
              <strong>Warning:</strong> This should be your won/lost/left games from before you started using EloLog. Different values cause the Win/Loss ratio to be incorrect.<br/>
              {{ form.initial_games_won }} / {{ form.initial_games_lost }} / {{ form.initial_games_left }}
            </div>
          </div>

          <div class="fieldWrapper">
            {{ form.show_on_public_list.errors }}
            <label for="id_summoner_name">Show log on public list:</label>
            <div class="alert">
              <strong>Information:</strong> Activating this feature makes your log appear on the list of public logs as soon as you publish it.<br/> 
              {{ form.show_on_public_list }}
            </div>
          </div>

          {% if not log.id %}
          <div class="fieldWrapper">
            <label for="id_preset">Log layout:</label>
            {{ form.preset }} 
          </div>
          {% endif %}

          <input type="submit" class="btn btn-primary" value="Save" />

        </form>
{% endblock %}
