{% extends "base.html" %}
{% block title %} - Graphs{% endblock %}

{% block content %}
        <div class="page-header">
          <h1>{{ log.summoner_name }} <small>Graphs</small></h1>
        </div>
        {% if is_public %}
          <a class="btn" href="{% url log.views.view log_id %}">
            <i class="icon-arrow-left"></i>
            Back
          </a>
        {% else %}
          <a class="btn" href="{% url log.views.view log_id %}">
            <i class="icon-arrow-left"></i>
            Back
          </a>

        {% endif %}
        <hr/>
        {% if log_empty %}
        <div class="alert alert-warning">
          Your EloLog is empty!
        </div>
        {% else %}
        {% block header %}
        <script src="{{ STATIC_URL }}js/flot/jquery.flot.js"></script>
        {% endblock %}
        <h2>Elo progression</h2>
        <div id="placeholder" style="width:600px;height:300px"></div>
        <script>
          $(document).ready(function()
          {
            $.plot($("#placeholder"), [{{ js_data }}], {points: { show: true }, lines: { show: true }});
          });
        </script>
        {% endif %}
{% endblock %}
