{% extends "base.html" %}
{% block title %} - Home{% endblock %}

{% block style %}
.news_block {
margin: 0;
padding: 0;
}
.news_block h1 {
  font-size: 14px;
  }

.news_block h1 .smaller {
  font-size: 10px;
  }

.comments {
  margin-bottom: 20px;
  }

h2 img {
  margin-right: 10px;
  padding-bottom: 10px;
  }

#log-table tr:hover {
  cursor: pointer;
  cursor: hand
  }
{% endblock %}

{% block headline %}<h1>EloLog <small>Home</small></h1>{% endblock %}

{% block content %}
        {% if not user.is_authenticated %}
        <p>New to EloLog? <a href="{% url about %}">Find out</a> what this is about!</p>
        <p>Want to start improving? Click "Sign in" in the top right corner or create an account <a href="{% url registration_register %}"> here</a>.
        {% else %}
        <p>Welcome back, <strong>{{ user.username }}</strong>! Your last visit was <strong>{{ last_login_str  }}</strong></p>
        {% endif %}
        <hr/>
        <div class="row">
          <div class="span5">
            <h2><img src="{{ STATIC_URL }}img/icons/glyphicons_235_pen.png" alt="Latest news"></img>Latest news</h2>
            {% include 'news/news.html' %}
            {% include 'news/news_comment_line.html' %}

            <a href="{% url log.views.news %}">View more news</a>
          </div>

          {% if following_logs.count > 0 %}
          <div class="span5">
            <h2><img src="{{ STATIC_URL }}img/icons/glyphicons_051_eye_open.png" alt="Following"></img>Logs you follow</h2>
            <table id="log-table" class="table">
              <thead>
                <tr>
                  <th>Log</th><th>Last update</th>
                </tr>
              </thead>
              <tbody>
              {% for log in following_logs %}
              <tr id="{{ log.log.public_hash }}">
                <td>
                  {% if log.is_new %}
                  <img class="icon-star"></img>
                  {% endif %}
                  {{ log.log.summoner_name }} ({{ log.log.user.username }})
                </td>
                <td>{{ log.log.last_update }}</td>
              </tr>
              {% endfor %}
            </tbody>
            </table>
          </div>
          {% endif %}

          <script type="text/javascript">
          $(document).ready(function()
          {
            $('#log-table > tbody > tr').click(function() {
              window.location.href = '/public/' + this.id;
            });
          });
      </script>
        
          <div class="span5"> 
            <h2><img src="{{ STATIC_URL }}img/icons/glyphicons_041_charts.png" alt="Statistics"></img>Statistic</h2>
            <p>We are currently storing <strong>{{ logs.count }}</strong> personal logs from <strong>{{ users.count }}</strong> users.</p>
            <p>Of a total of <strong>{{ logitems_count }}</strong> games, <strong>{{ logitems_won.count }}</strong> were won, <strong>{{ logitems_lost.count }}</strong> were lost. That's a Win/Loss-Ratio of <strong>{{ wl_ratio }}</strong>.</p>
            <p><strong>{{ public_logs.count }}</strong> logs are publicly viewable, <strong>{{ public_logs_on_list.count }}</strong> of them are <a href="{% url public_logs %}">listed</a>.</p>
            <p>There are currently <strong>{{ logged_in_profiles.count }}</strong> users logged in.</p>
          </div>
        </div>
{% endblock %}
