{% extends "base.html" %}
{% load get_range %}
{% load pretty_format_date %}
{% block title %} - Logs{% endblock %}

{% block style %}

#log-table tr:hover {
  cursor: pointer;
  cursor: hand
  }
{% endblock %}

{% block headline %}
  {% if is_public %}
    <h1><img src="{{ STATIC_URL }}img/icons/glyphicons_039_notes.png" alt="Public logs"/>Public logs</h1>
  {% else %}
    <h1><img src="{{ STATIC_URL }}img/icons/glyphicons_039_notes.png" alt="My logs"/>My logs</h1>
  {% endif %}
{% endblock %}

{% block content %}
        {% if not log_list and not is_public %}
        <div class="alert alert-success">
          Start using EloLog now by starting a new log with a click on the button below!
        </div>
        {% endif %}

        {% if not is_public %}
        <a class="btn btn-success" href="{% url log.views.edit_log %}">
          <i class="icon-plus icon-white"></i>
          Start new log
        </a>
        {% endif %}

        {% if is_public and popular_log_list.count > 0 %}
        <h2>Popular logs</h2>
        <table id="log-table" class="table">
          <thead>
            <tr>
              <th>User</th>
              <th>Summoner/Team</th>
              <th>Region</th>
              <th>Elo</th>
              <th>Games</th>
              <th>Ratio</th>
              <th>Last update</th>
              <th>Follower</th>
            </tr>
          </thead>
          <tbody>
          {% for log in popular_log_list %}
            <tr id="{{ log.public_hash }}">
              <td>{{ log.user.username }}</td>
              <td>{{ log.summoner_name }}</td>
              <td>{{ log.get_region_display }}</td>
              <td>{{ log.current_elo }}</td>
              <td>{{ log.total_games }} ({{ log.games_won }}/{{ log.games_lost }}/{{log.games_left }})</td>
              <td>{{ log.win_loss_ratio }}</td>
              <td>{{ log.last_update|pretty_format_date:log.user }}</td>
              <td>{{ log.get_follower_count }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}

        {% if is_public %}
        <h2>All logs</h2>
        {% endif %}
        {# PAGINATION #}
        {% if log_list.paginator.num_pages > 1 %}
        <div class="pages">
          {% if log_list.has_previous %}
          <a href="?p={{ log_list.previous_page_number }}">Previous</a>
          {% else %}
          Previous
          {% endif %}
          <ul>
            {% for page in log_list.paginator.num_pages|get_range:1 %}
            {% if page = log_list.number %}
              <li><strong>{{ page }}</strong></li>
        {% else %}
            <li><a href="?p={{ page }}">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
          </ul>
          {% if log_list.has_next %}
          <a href="?p={{ log_list.next_page_number }}">Next</a>
          {% else %}
          Next
          {% endif %}
        </div>
        {% endif %}
        {# PAGINATION_END #}

        <table class="table" id="log-table">
        <thead>
          <tr>
          {% if is_public %}
            <th>User</th>
          {% endif %}
            <th>Summoner/Team</th>
            <th>Region</th>
            <th>Elo</th>
            <th>Games</th>
            <th>Ratio</th>
            <th>Last update</th>
            <th>Follower</th>
          </tr>
        </thead>
        <tbody>
          {% for log in log_list %}
          {% if not is_public %}
          <tr id="{{ log.id }}">
          {% else %}
          <tr id="{{ log.public_hash }}">
            <td>{{ log.user.username }}</td>
          {% endif %}
            <td>{{ log.summoner_name }}</td>
            <td>{{ log.get_region_display }}</td>
            <td>{{ log.current_elo }}</td>
            <td>{{ log.total_games }} ({{ log.games_won }}/{{ log.games_lost }}/{{log.games_left }})</td>
            <td>{{ log.win_loss_ratio }}</td>
            <td>{{ log.last_update|pretty_format_date:log.user }}</td>
            <td>{{ log.get_follower_count }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <script type="text/javascript">
        $(document).ready(function()
        {
          $('#log-table > tbody > tr').click(function() {
            {% if not is_public %}
            window.location.href = '/logs/' + this.id;
            {% else %}
            window.location.href = '/public/' + this.id;
            {% endif %}
          });
        });
      </script>
{% endblock %}
