{% extends "base.html" %}
{% load markup %}
{% block title %} - News{% endblock %}

{% block style %}
.smaller {
  font-size: 11px;
  }
.news_block {
  margin-bottom: 40px;
}
{% endblock %}

{% block page_width %}span8 offset2{% endblock %}

{% block content %}
        <div class="page-header">
          <h1>News</h1>
        </div>

        {% for news_item in news %}
        <h2>{{ news_item.title}} <small class="smaller">{{ news_item.date }} - {{ news_item.user.username }}</h2>
        <div class="news_block">
          {{ news_item.text|markdown}}
        </div>
        {% endfor %}
{% endblock %}
