{% extends "base.html" %}
{% block title %} - Imprint{% endblock %}

{#{% block page_width %}span8 offset2{% endblock %}#}

{% block headline %}
<h1><img src="{{ STATIC_URL }}img/icons/glyphicons_195_circle_info.png"/>Privacy Policy <small>Elolog</small></h1>
{% endblock %}

{% block content %}
<p>Privacy is important to elolog.net, we will never sell your personal information to third parties. The information your provide with your registration (username, email address, password) is stored on our server only and will never be accessible by third parties. Your password is stored in a secure way.</p>

<h2>Log files</h2>
<p>As with most other websites, we collect and use the data contained in log files.  The information in the log files include  your IP (internet protocol) address, your ISP (internet service provider, such as AOL or Shaw Cable), the browser you used to visit our site (such as Internet Explorer or Firefox), the time you visited our site and which pages you visited throughout our site.</p>

<h2>Cookies and Web Beacons</h2>
<p>
elolog.net uses cookies to store information about your current session and to provide security for forms (see <a href="https://docs.djangoproject.com/en/dev/ref/contrib/csrf/">https://docs.djangoproject.com/en/dev/ref/contrib/csrf/</a>).

We also use third party advertisements to support our site.  Some of these advertisers may use technology such as cookies and web beacons when they advertise on our site, which will also send these advertisers (such as Google through the Google AdSense program) information including your IP address, your ISP , the browser you used to visit our site, and in some cases, whether you have Flash installed.  This is generally used for geotargeting purposes (showing New York real estate ads to someone in New York, for example) or showing certain ads based on specific sites visited (such as showing cooking ads to someone who frequents cooking sites).<p>

<p>Google AdSense uses the DART cookie to serve ads based on your browsing behaviour on this and other sites in the internet. You may opt out of the user of the DART cookie by visiting the Google ad and content network privacy policy. For more information about Google AdSense visit <a href="http://www.google.com/policies/privacy/ads/">http://www.google.com/policies/privacy/ads/</a></p>

<p>You can chose to disable or selectively turn off our cookies or third-party cookies in your browser settings. However, this can affect how you are able to interact with our site as well as other websites.  This could include the inability to login to services or programs, such as logging into forums or accounts.
</p>
{% endblock %}
