# List of admins
ADMINS = (
  #( 'Admin Name', 'admin@elolog.net'),
)

# Database settings
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'elolog',                      # Or path to database file if using sqlite3.
        'USER': 'root',                      # Not used with sqlite3.
        'PASSWORD': 'root',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}

# default, using smtp:  django.core.mail.backends.smtp.EmailBackend
# for local testing:    django.core.mail.backends.console.EmailBackend
# the latter one will print every mail to stdout instead of sending it
EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = "/srv/http/elolog_static"

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = "http://localhost/elolog_static/"
